<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="product-swi" th:remove="tag">

<!--    <div th:id="${id}" class="swiper mySwiper">-->
        <div class="swiper-wrapper">
<!--                <div class="swiper-slide">Slide 1</div>&ndash;&gt;-->
<!--                <div class="swiper-slide">Slide 2</div>-->
<!--                <div class="swiper-slide">Slide 3</div>-->
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
<!--    </div>-->
</div>
</body>
</html>