<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="content" th:remove="tag">
    <div>
        <label>Short Description</label>
        <textarea th:field="*{shortDescription}"  id="shorDescription" cols="30" rows="10"></textarea>
    </div>
    <span th:if="${#fields.hasErrors('shortDescription')}" class="form-control alert alert-warning" ></span>

    <div>
        <label>Full Description</label>
        <textarea th:field="*{fullDescription}"  id="fullDescription" cols="30" rows="10"></textarea>
    </div>
    <span th:if="${#fields.hasErrors('fullDescription')}" class="form-control alert alert-warning" ></span>

</div>
</body>
</html>