<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/resource/theme/home/css/bootstrap.min.css}" type="text/css">
<link rel="stylesheet" th:href="@{/resource/theme/home/css/font-awesome.min.css}" type="text/css">
<link rel="stylesheet" th:href="@{/resource/theme/home/css/themify-icons.css}" type="text/css">
<link rel="stylesheet" th:href="@{/resource/theme/home/css/elegant-icons.css}" type="text/css">
<link rel="stylesheet" th:href="@{/resource/theme/home/css/owl.carousel.min.css}" type="text/css">
<link rel="stylesheet" th:href="@{/resource/theme/home/css/nice-select.css}" type="text/css">
<link rel="stylesheet" th:href="@{/resource/theme/home/css/jquery-ui.min.css}" type="text/css">
<link rel="stylesheet" th:href="@{/resource/theme/home/css/slicknav.min.css}" type="text/css">
<link rel="stylesheet" th:href="@{/resource/theme/home/css/style.css}" type="text/css">

<!--ADDITIONAL CSS-->>
<link rel="stylesheet" th:href="@{/resource/plugins/swiper/swiper.css}" type="text/css">
<!--/ADDITIONAL CSS-->>


<!-- CREATED CSS-->

<!-- CREATED CSS-->
</html>