<html xmlns:th="http://www.thymeleaf.org">
<script th:src="@{/resource/theme/home/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/resource/theme/home/js/bootstrap.min.js}"></script>
<script th:src="@{/resource/theme/home/js/jquery-ui.min.js}"></script>
<script th:src="@{/resource/theme/home/js/jquery.countdown.min.js}"></script>
<script th:src="@{/resource/theme/home/js/jquery.nice-select.min.js}"></script>
<script th:src="@{/resource/theme/home/js/jquery.zoom.min.js}"></script>
<script th:src="@{/resource/theme/home/js/jquery.dd.min.js}"></script>
<script th:src="@{/resource/theme/home/js/jquery.slicknav.js}"></script>
<script th:src="@{/resource/theme/home/js/owl.carousel.min.js}"></script>
<script th:src="@{/resource/theme/home/js/main.js}"></script>
<script th:src="@{/resource/js/modal.js}"></script>



</html>

