<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/home/home_layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block layout:fragment="addcss">
        <link rel="stylesheet" th:href="@{/resource/css/home/index.css}">
    </th:block>
</head>
<body>
<div class="content-wrapper" layout:fragment="content">
    <br/>
    <div class="login-form col-5 m-auto">
        <h2>Login</h2>
        <form action="" method="post">
            <div class="group-input">
                <label for="username">Username or email address *</label>
                <input type="text" name="username" id="username">
            </div>
            <div class="group-input">
                <label for="pass">Password *</label>
                <input type="text" id="pass" name="password">
            </div>
            <div class="group-input gi-check">
                <div class="gi-more">
                    <label for="save-pass">
                        Save Password
                        <input type="checkbox" id="save-pass">
                        <span class="checkmark"></span>
                    </label>
                    <a href="#" class="forget-pass">Forget your Password</a>
                </div>
            </div>
            <button type="submit" class="site-btn login-btn">Sign In</button>
        </form>
        <div class="switch-login">
            <a href="./register.html" class="or-login">Or Create An Account</a>
        </div>
    </div>

    <br/>
</div>
<th:block layout:fragment="addscript">
    <script th:src="@{/resource/js/home/index.js}"></script>

    <script>
        // var hotsaleSwi = createSwiper("#hotsaleSwi")
    </script>

</th:block>

</body>
</html>