<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/home/home_layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block layout:fragment="addcss">
        <link rel="stylesheet" th:href="@{/resource/css/home/index.css}">
    </th:block>
</head>
<body>
<div class="content-wrapper" layout:fragment="content">



    <div class="container-fluid">
        <!--        <div class="swiper mySwiper">-->
        <!--            <div class="swiper-wrapper">-->
        <!--                        <div class="swiper-slide">Slide 1</div>-->
        <!--                        <div class="swiper-slide">Slide 2</div>-->
        <!--                        <div class="swiper-slide">Slide 3</div>-->
        <!--                        <div class="swiper-slide">Slide 4</div>-->
        <!--                        <div class="swiper-slide">Slide 5</div>-->
        <!--                        <div class="swiper-slide">Slide 6</div>-->
        <!--                        <div class="swiper-slide">Slide 7</div>-->
        <!--                        <div class="swiper-slide">Slide 8</div>-->
        <!--                        <div class="swiper-slide">Slide 9</div>-->
        <!--            </div>-->
        <!--            <div class="swiper-button-next"></div>-->
        <!--            <div class="swiper-button-prev"></div>-->
        <!--            <div class="swiper-pagination"></div>-->
        <!--        </div>-->
        <div id="hotsaleSwi" class="swiper mySwiper" th:insert="comment_fragment/swiper::product-swi"></div>

    </div>

</div>


<th:block layout:fragment="addscript">
    <script th:src="@{/resource/js/home/index.js}"></script>

    <script>
        // var hotsaleSwi = createSwiper("#hotsaleSwi")
    </script>

</th:block>

</body>
</html>