.tableBodyFixHeight {
    height: 360px;
    /*display: block;*/
    overflow-y: auto;

    overflow-x: hidden;
}

.tableFixHeight tr {
    width: 100%;
    display: table;
    table-layout: fixed;
}

#page500 {

    background-image: url("../../img/500img.jpg");
    background-size: cover;

}
#page400{

    background-image: url("../../img/404img.png");
    background-size: cover;
}

