.image-preview {
    width: 500px;
    /*min-height: 200px;*/
    height: 300px;
    border: 2px solid #dddddd;
    margin-top: 15px;


    display: flex;
    align-items: center;
    justify-content: center;
    color: #cccccc;
    position: relative;
}

.image-preview input[type="checkbox"] {
    position: absolute;
    left: 5px;
    top: 5px;
    display: none;
}

.image-preview i{
    position: absolute;
    top: 5px;
    right: 5px;
    color:grey;
}

.image-preview__img {
    display: none;
    width: 100%;
    background-size: contain;
}

#imageWrapper {
    height: 500px;
    /*display: block;*/
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    border: 1px solid slategray;

}
