.image-preview {
    /*max-width: 600px;*/
    /*min-height: 200px;*/
    height: 360px;
    border: 2px solid #dddddd;
    margin-top: 15px;


    display: flex;
    align-items: center;
    justify-content: center;
    color: #cccccc;
    position: relative;
}
.image-preview__img {

    width: 100%;
    height: 100%;
    background-size: cover;
}
